<?xml version='1.0' encoding='utf-8'?>
<widget id="org.feedhenry.dart.saml.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAML Client</name>
    <description>
        This is an advanced hybrid app, built using Cordova
    </description>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" />
    <engine name="ios" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <plugin name="cordova-plugin-device" spec="https://github.com/apache/cordova-plugin-device#rel/1.1.2" />
    <plugin name="cordova-plugin-dialogs" spec="https://github.com/apache/cordova-plugin-dialogs.git#rel/1.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="https://github.com/apache/cordova-plugin-inappbrowser.git#rel/1.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git#rel/1.2.2" />
    <plugin name="fh-cordova-plugins-api" spec="https://github.com/fheng/fh-cordova-plugins-api.git#fh0.0.7" />
</widget>
