<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedhenry.apps.SSOCordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAML Client</name>
    <description>
        This is an advanced hybrid app, built using Cordova
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <engine name="android" spec="~3.5.1" />
    <engine name="ios" spec="~3.5.0" />
    <plugin name="cordova-plugin-device" spec="~1.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.1.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.1" />
</widget>
