<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedhenry.apps.SSOCordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAML Client</name>
    <description>
        This is an advanced hybrid app, built using Cordova
    </description>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="4.1.0" />
    <engine name="ios" spec="3.9.0" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git#rel/1.2.2" />
    <plugin name="com.feedhenry.plugins.apis" spec="https://github.com/fheng/fh-cordova-plugins-api.git#fh0.0.6" />
</widget>
